body {
    margin: 0;
    padding: 16px 8px;
    box-sizing: border-box;
    font-family: 'Gloria Hallelujah', cursive;
	background-image: url(../img/bowling.jpeg);
	background-size: 100%;
}
  
wired-card {
	background-color: #f0f0d6eb;
	color: #712910;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px;
    display: block;
}

wired-button {
    margin-left: 8px;
    background: #e6b57c;
}
  
wired-button:disabled {
    margin-left: 8px;
    background:  #dde0cd;
}
  
wired-button[disabled] {
    margin-left: 8px;
    background: #dde0cd;
}
  
wired-input {
    font-family: inherit; 
	color : black;
}

wired-input input {
	padding-left: 20px;
	padding: 3px !important;
}
 
wired-combo::shadow #textPanel {
	background-color: #ffffffeb;
}

wired-combo::shadow div {
	background-color: #ffffffeb;
}

wired-combo::shadow div {
	background-color: #ffffffeb;
	--background: #ffffffeb;
}

wired-combo #textPanel {
	--background-color: #ffffffeb;
	--background: #ffffffeb;
}

wired-item {
	background-color: #f0f0d6;
}

h1, p, div { 
    text-align: center; 
}
h1 {
  font-size: 45px;
  color: #7e4a23;
  padding-bottom: 20px;
}

.frame {
    float: left;
    width: 140px;
}

.frame p {
  padding: 10px;
}

.player{
  padding-top: 30px;
}

.player wired-card {
  max-width: 1440px;
  height: 180px;
  margin-top: 10px;
}

.player span{
  background-color: #98a89b82;
  color: #f0f0d6;
  padding-left: 75px;
  font-size: 20px;
}

.knob.checked .knobfill path {
	stroke: var(--wired-toggle-on-color, rgb(63, 81, 181));
 }

#startCard {
    max-width: 500px;
}

#textPanel {
	--background-color: #ffffffeb;
	--background: #ffffffeb;
}

#container * {
  width: 50px;
}

#errorMessage {
    color: #341b0b;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    background-color: #b8c2b37d;
    max-width: 500px;
    margin: auto;
    width: 480px;
}


      